{{> header}}
	<main>
		{{#if messages.success}}
			<div class="message">
				<p>{{messages.success}}</p>
				<span>x</span>
			</div>
		{{/if}}
		{{#if messages.warning}}
			<div class="message warning">
				<p>{{messages.warning}}</p>
				<span>x</span>
			</div>
		{{/if}}
		<div class="container clearfix">
			{{#if isHome}}
				{{> search }}
			{{/if}}
			{{{ body }}}
		</div><!--/Main Container -->
	</main><!--/Main-->
{{> footer}}
