<br><br>
<form action="/forgot-password" method="post" class="register clearfix" style="margin: 0 auto;">
	<h2>FORGOT PASSWORD</h2>
	<input class="input" style="width: 100%;" name="email" type="email" placeholder="Email address" value="{{email}}">
    <br>
	<button style="float: left;" class="btn shallow fill">Request link</button>
</form>
