<br><br>
<form action="/reset-password" method="post" class="register clearfix" style="margin: 0 auto;">
	<h2>RESET PASSWORD</h2>
	<input class="input" style="width: 100%;" name="password" type="password" placeholder="Password">
	<input class="input" style="width: 100%;" name="confirm_password" type="password" placeholder="Confirm Password">
	<input type="hidden" name="url" value="{{url}}">
	<input type="hidden" name="link_id" value="{{link_id}}">
	<input type="hidden" name="user_id" value="{{user_id}}">
    <br>
	<button style="float: left;" class="btn shallow fill">RESET PASSWORD</button>
</form>